/* -----------------RESET RULE----------------- */


/* -----------------GENERAL RULE----------------- */


/* -----------------HEADER RULE----------------- */
.header-container{
    height: 60px;
}

.logo-mobile{
    width: 50px;
}

header .col-2 .my-dropdown button{
    padding: 0;
    background-color: white;
    border: none;
}
/* -----------------MAIN RULE------------------- */
.my-container{
    height: calc(100vh - 60px);
}
.nav-bar-container{
    height: 100%;
}
.main-container{
    height: 100%;
    overflow-y: auto;
}
/*NAV BAR*/
.background-grad {
  background: linear-gradient(40deg, #092a4a 75%, #041830 25%);
  }

nav ul li{
    list-style: none;
}
.my-border-radius{
    border-radius: 50%;
}

.card .my-border-radius{
    border-radius: 0;
}

.card .my-border-radius > *{
    border-radius: 0;
}

table tbody td:first-child::before {
    content: "</>";
    font-size: small;
    background-color: orangered;
    color: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 25px;
    display: inline-block;
}


tr th:nth-child(4),
tr td:nth-child(4){
    text-align: center;    
}
 
tr th:nth-child(2),
tr td:nth-child(2),
tr th:nth-child(3),
tr td:nth-child(3){
    display: none;
}

.my-w-35{
    width: 35%;
}

.my-font-small{
    font-size: x-small;
}

.my-background-dark-blue{
    background-color: #173b7d;
}
.offcanvas.offcanvas-end{
    width: 100%;
}

nav ul li a:hover{
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.5);
}

/* -----------------FOOTER RULE----------------- */



/* -----------------MEDIA QUERY----------------- */

/* IN DEKSTOP FIRST */
@media screen and (min-width: 992px) {
    .my-min-width{
        min-width: 140px;
    }

    tr th:nth-child(2),
    tr td:nth-child(2){
    display: table-cell;
    }
    .offcanvas.offcanvas-end{
        width: 50%;
    }
}
@media screen and (min-width: 768px) {
    tr th:nth-child(3),
    tr td:nth-child(3){
    display: table-cell;
    }
   
}
@media screen and (min-width: 576px) {

}

/* -----------------DEBUG----------------- */

/* .debug .col-auto{
    border: 1px dashed green;  
} */

/* .debug .row > * {
    border: 1px dashed green; 
} */