/* -----------------RESET RULE----------------- */


/* -----------------GENERAL RULE----------------- */


/* -----------------HEADER RULE----------------- */
.header-container{
    height: 60px;
}

.logo-mobile{
    width: 50px;
}
/* -----------------MAIN RULE------------------- */
.my-container{
    height: calc(100vh - 60px);
}
.nav-bar-container{
    height: 100%;
}
.main-container{
    height: 100%;
    overflow-y: auto;
}
/*NAV BAR*/
nav ul li{
    list-style: none;
}

/* -----------------FOOTER RULE----------------- */



/* -----------------MEDIA QUERY----------------- */

/* IN DEKSTOP FIRST */
@media screen and (min-width: 992px) {
    .my-min-width{
        min-width: 140px;
    }
}
@media screen and (min-width: 768px) {
   
}
@media screen and (min-width: 576px) {

}

/* -----------------DEBUG----------------- */

/* .debug .col-auto{
    border: 1px dashed green;  
} */

/* .debug .row > * {
    border: 1px dashed green; 
} */